.trams {
    margin-top: 128px;
}

select {
    background: #25232c;
    color: white;
    min-height: 32px;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    font-size: 24px;
    text-transform: uppercase;
}

.label {
    display: block;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .trams {
        margin-top: 64px;
    }

    select {
        font-size: 16px;
    }
}