header {
    display: flex;
    align-items: center;
    background: #535171;
    height: 80px;
    padding: 0 20px;
}
fa-icon {
    font-size: 50px;
    color: #c9c8d5;
    margin-right: 15px;
}
h1 {
    font-size: 32px;
    color: #c9c8d5;

}